.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
  background-color: #fff;
  &__logo {
    display: flex;
    flex: 1 1;

    padding-bottom: 2rem;
    & > * {
      display: flex;
    }
    &__icon {
      flex: 1 1;
      align-items: center;
      justify-content: center;
      img {
        width: 100px;
      }
    }
    &__title {
      flex: 2 1;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f87f14;
      font-style: italic;
      text-align: center;
      font-size: clamp(1rem, 3vw, 4rem);
    }
  }
  &__menu {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    & > * {
      flex: 1 1;
      display: flex;
      border: 1px solid #f87f14;
      border-left: 120px solid transparent;
      border-right: 120px solid transparent;
      padding: 1rem 0;
      align-items: center;
      justify-content: center;
      transition: all 0.3s linear;
    }
    &__link {
      button {
        font-size: clamp(0.8rem, 3vw, 1.5rem);
        white-space: nowrap;
      }
    }
  }
}

.active {
  color: #f87f14;
}
