<article *ngIf="post" [imageUrl]="post.image_url" appSetBackgroundImage>
  <div class="post-details">
    <h3>{{ post.title }}</h3>
    <ul class="post-details__tags">
      <li *ngFor="let tag of post.tags">{{ tag }}</li>
    </ul>
    <p>{{ post.content }}</p>
    <!-- <div class="image-container">
      <img [src]="post.image_url"
        [alt]="post.title">
    </div> -->
    <p>{{ post.author }}</p>
    <p>{{ post.email }}</p>

    <button class="btn" routerLink="/posts">Back</button>
  </div>
</article>
<!-- <pre>{{post | json}}</pre> -->
