main {
  margin: 0 auto;
  width: 80vw;
  min-width: 500px;
  display: flex;
  flex-direction: column;

  .header {
    margin-bottom: 1rem;
  }
  .content {
    padding: 2rem 0;
    height: 100%;
    margin: 0 auto;
  }
  @media screen and (max-width: 460px) {
    width: 100vw;
  }
}
