main {
  margin: 0 auto;
  width: 80vw;
  min-width: 500px;
  background-color: #fff;
  &:after {
    content: '';
    position: absolute;
    left: -10px;
    height: 10px;
    background-image: linear-gradient(to left, red, transparent);
  }
  .side-nav {
    margin-bottom: 5rem;
  }
  .content {
    padding: 2rem 0;
    height: 100vh;
    margin: 0 auto;
  }
  @media screen and (max-width: 500px) {
    width: 100vw;
  }
}
