.main-content {
  //display: flex;

  &__side-nav {
    flex: 1 1;
  }
  &__content {
    padding-top: 5rem;
    flex: 2 1;
  }
  @media only screen and (max-width: 800px) {
    &__side-nav {
      //display: none;
    }
  }
}
