$midnight: rgba(248, 128, 22, 0.541);
$carrot: rgb(247, 133, 34);

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__post {
    min-width: 300px;
    padding-right: 20px;
    margin-bottom: 20px;
    flex: 0 1 25%;
    img {
      width: 100%;
      height: auto;
      max-height: 140px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
  }

  &__title {
    background: $carrot;
    padding: 0 30px 100px 40px;
    position: relative;
    border: 1px solid $carrot;
    border-top: none;
    z-index: 1;
    line-height: 23px;
    color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    h3 {
      margin-bottom: 15px;
      font-family: 'Roboto';
      font-weight: 900;
      font-size: 22px;
    }
  }

  &__title::before {
    content: '';
    position: absolute;
    top: -30px;
    left: -1px;
    width: 100%;
    height: 50px;
    background: $carrot;
    border-left: 1px solid $carrot;
    border-right: 1px solid $carrot;
    transform: skewY(5deg);
    z-index: -1;
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.4);
  }

  &__round-btn {
    // left: 40px !important;
    // font-size: 22px;
    // color: $carrot;
    content: '';
    position: absolute;
    bottom: 25px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5), 0 0 0 0 rgba(255, 255, 255, 0);

    &:hover {
      box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.2),
        0 0 0 20px rgba(255, 255, 255, 0.12);
    }
  }

  &__add-post {
    img {
      max-height: 230px;
    }
  }
}

.arrow {
  display: block;
  margin: 15px 10px 10px;
  width: 25px;
  height: 25px;
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  transform: rotate(100deg);
}
