/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f3f3f3;
  min-width: 800px;
  font-family: "Raleway", sans-serif;
}
.text {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  text-decoration: none;
  color: #1d1d1d;
}
a {
  text-decoration: none;
}
.btn {
  font-size: 1.2rem;
  //word-wrap: break-word;
  //color: #fff;
  background: transparent;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: color, transform 0.3s linear;
  color: #f3f3f3;
  &:hover,
  .active {
    color: #f87f148a;
    transform: scale(1.2, 1.2);
  }
}
