/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background: #f3f3f3;
}
.text {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  text-decoration: none;
  color: #1d1d1d;
}
